body{
  font-size: medium;
  font-family: system-ui;
  font-size: 20px;
  padding-left: 50px;
}

#select-list{
  font-family: system-ui;
}

img{
  width:20%;
  height: auto;
  margin-top: 10px;
}
#generate{
  font-family: system-ui;

}

.vertical {
  border-left: 6px solid black;
  height: 200px;
  position:absolute;
  left:50%;
}

.outer-container{
  box-sizing: content-box;
  text-overflow: wrap;
}

